* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  overflow-x: auto; 
  height: 100vh;
  margin: 0;
}

body {
  display: flex;
  background-color: #E5D4ED;
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding-top: 100px;
}