* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  overflow-x: auto; 
  height: 100vh;
  margin: 0;
}

body {
  display: flex;
  background-color: #E5D4ED;
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h2 {
  margin-bottom: 20px;
  word-wrap: break-word;  
  overflow-wrap: break-word;  
  white-space: normal; 
  line-height: 1.2;
}

.kanban-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  padding: 50px;
}

.kanban-board-wrapper {
  display: flex;
  justify-content: flex-start; 
  width: 100%;
}

.kanban-board {
  display: flex;
  gap: 20px;
  white-space: nowrap;
  align-items: flex-start;
  width: max-content; 
  min-width: 100vw; 
  height: 100%;
}

.column {
  width: 300px;
  background: rgba(255, 255, 255, 0.6);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  overflow: hidden; 
}

.add-column {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.6);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 200px;
  flex-shrink: 0; 
  min-width: 200px; 
  margin-right: 20px; 
}

.add-column input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 14px;
}

.add-column button {
  background-color: #6D72C3;
  color: white;
  font-size: 14px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.add-column button:hover {
  background-color: #5C60A5;
}

.column h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  flex-grow: 1; 
}

.column-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.delete-column-btn {
  background: none;
  border: none;
  color: #6D72C3;
  cursor: pointer;
}

.delete-column-btn:hover {
  color: #5C60A5;
}

.add-task {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.add-task input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
}

.add-task button {
  background-color: #6D72C3;
  color: white;
  font-size: 14px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.add-task button:hover {
  background-color: #5C60A5;
}

.task {
  display: flex;
  color: black;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  max-width: 100%;
  background: white;
  border-radius: 8px;
  /* word-wrap: break-word;
  overflow-wrap: break-word; */
  white-space: normal; 
  margin-bottom: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.task:hover {
  border: 1px solid #5C60A5;
  cursor: pointer;
}

.task-textarea {
  width: 95%;
  overflow-y: auto;
  resize: vertical;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  outline: none;
  /* word-break: break-word;
  white-space: pre-wrap; */
  background: white;
  color: black;
  font-size: 14px;
}

.task-content {
  display: block;
  width: 100%;
  /* white-space: pre-wrap; 
  overflow-wrap: break-word;
  word-break: break-word; */
}

.task-buttons {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  margin-top: 5px;
  align-items: center;
}

.edit-btn, .delete-btn {
  background: none;
  border: none;
  color: #6D72C3;
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
}

.edit-btn:hover {
  color: #5C60A5;
}

.delete-btn:hover {
  color: #5C60A5;
}

.task-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  appearance: none; 
  border: 2px solid #ddd;
  background-color: white;
  cursor: pointer;
  position: relative;
  margin-left: 5px;
}

.task-checkbox:checked {
  background-color: #07b928; 
  border: 2px solid #07b928;
}

.task-checkbox:checked::after {
  content: '✓';
  font-size: 16px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.completed {
  text-decoration: line-through;
  color: gray;
}