h2 {
  word-wrap: break-word;  
  overflow-wrap: break-word;  
  white-space: normal; 
  line-height: 1.2;
  color: black;
}

.kanban-wrapper {
  width: 100%;
  height: 100vh;
  height: calc(100vh - 120px); 
}

.navbar {
  width: 100%; 
  height: 40px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6D72C3;
  color: white; 
  position: fixed;
  padding: 0 50px;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-links {
  display: flex;
}

.nav-links a {
  display: flex;
  height: 40px; 
  width: 130px; 
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  text-decoration: none;
  transition: background-color 0.5s ease;
}

.nav-links a:hover {
  background-color: #000000;
}

.header-container {
  display: flex;
  position: fixed;
  background-color: #8a90f2;
  width: 100%; 
  height: 30px;
  top: 40px;
  left: 0;
  align-items: center;
  justify-content: center;
  padding: 20px;
  z-index: 500;
}

.kanban-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  overflow-x: scroll;
}

.kanban-container::-webkit-scrollbar {
  display: none;
}

.kanban-board {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  min-width: max-content; 
  margin-left: 50px;
  margin-bottom: 60px;
}

.column {
  width: 300px;
  background: rgba(255, 255, 255, 0.6);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}

.add-column {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.6);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 200px;
  min-width: 200px; 
  margin-right: 50px; 
  flex-shrink: 0; 
}

.add-column input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 14px;
}

.add-column button {
  background-color: #6D72C3;
  color: white;
  font-size: 14px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.add-column button:hover {
  background-color: #5C60A5;
}

.column h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  flex-grow: 1; 
}

.column-header {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.column-right {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.delete-column-btn, .close-btn {
  background: none;
  border: none;
  color: #6D72C3;
  cursor: pointer;
  padding: 0;
}

.delete-column-btn:hover, .close-btn:hover {
  color: #5C60A5;
}

.add-task {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.add-task input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
}

.add-task button {
  background-color: #6D72C3;
  color: white;
  font-size: 14px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.add-task button:hover {
  background-color: #5C60A5;
}

.task {
  display: flex;
  color: black;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px 10px 5px 10px;
  max-width: 100%;
  background: white;
  border-radius: 8px;
  white-space: normal; 
  margin-bottom: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.task:hover {
  border: 1px solid #5C60A5;
  cursor: pointer;
}

.task-textarea {
  width: 95%;
  overflow-y: auto;
  resize: vertical;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  outline: none;
  background: white;
  color: black;
  font-size: 14px;
}

.task-content {
  display: block;
  width: 100%;
}

.task-buttons {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  align-items: center;
}

.edit-btn, .delete-btn, .due-date-btn {
  background: none;
  border: none;
  color: #6D72C3;
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
}

.edit-btn:hover {
  color: #5C60A5;
}

.delete-btn:hover {
  color: #5C60A5;
}

.task-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  appearance: none; 
  border: 2px solid #ddd;
  background-color: white;
  cursor: pointer;
  position: relative;
  margin-left: 5px;
}

.task-checkbox:checked {
  background-color: #07b928; 
  border: 2px solid #07b928;
}

.task-checkbox:checked::after {
  content: '✓';
  font-size: 16px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.dateStyle {
  padding: 2px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.menu {
  position: absolute;
  top: 0;
  right: 20px;
  background: white;
  width: 250px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: visible;
  z-index: 1;
}

.menu button {
  width: 100%;
  text-align: left;
  font-size: 14px;
  border: none;
  cursor: pointer;
  background-color: white;
  margin-bottom: 10px;
}

.menu button:hover {
  background-color:  #e8e9fb;
  border-radius: 0;
}

.menu-header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 10px;
}

.header-btn {
  display: flex;
}

.close-list-menu-btn {
  background: none;
  border-radius: 5px !important;
  color: black;
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
}

/* Tag style */

.tags-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 250px; 
  gap: 5px;
  align-items: center;
}

.modal-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content,
.modal-content-tutorial {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  width: 300px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-content-tutorial {
  width: 700px !important;
}

.modal-content input[type='text'] {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.save-btn,
.cancel-btn {
  width: 100px;
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.save-btn {
  background-color:#6D72C3;;
  color: white;
}

.cancel-btn {
  background-color: #343434;
  color: white;
}

.save-btn:hover {
  background-color: #5C60A5;
}

.cancel-btn:hover {
  background-color: #000000;
}

.tag-delete-btn,
.delete-due-date-btn,
.help-btn {
  margin-left: 8px;
  padding: 0px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-Size: 15px;
}

.tag-delete-btn {
  color: white;
}

.tag-delete-btn:hover {
  transform: scale(1.3);
  opacity: 0.7;
}

.delete-due-date-btn {
  color: #6D72C3;
  margin-left: 0px !important;
  margin-right: 5px;
}

.delete-due-date-btn:hover {
  transform: scale(1.3);
  color: #5C60A5;;
}

.help-btn {
  color: white;
}

.help-btn:focus {
  outline: none;
  box-shadow: none;
}

.help-btn:hover {
  transform: scale(1.3);
}

.due-date-display {
  margin-top: 10px;
}

.kanban-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #f1f1f1;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ddd;
  z-index: 1000;
}
